<div class="sidebar sidebar-dark sidebar-main sidebar-expand-xl custom-sidebar" id="sidebar">
  <div class="sidebar-content">
    <div class="sidebar-section pb-2 mb-2 border-bottom border-opacity">
      <div class="sidebar-section-body d-flex justify-content-between align-items-center px-3">
        <button type="button" class="btn btn-sm text-white sidebar-mobile-main-toggle d-xl-none">
          <i class="ph-x fs-5"></i>
        </button>
      </div>
    </div>
    <div class="sidebar-section">
      <ul class="nav nav-sidebar" data-nav-type="accordion" id="sidebar-items">
        <li class="nav-item">
          <a href="<%= root_path %>" class="nav-link custom-link">
            <i class="bi-house-fill me-2 fs-5"></i>
            <span>Home</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link custom-link">
            <i class="bi-person-badge-fill me-2 fs-5"></i>
            <span>Clientes</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link custom-link">
            <i class="bi-file-earmark-text-fill me-2 fs-5"></i>
            <span>Contratos</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link custom-link">
            <i class="bi-bank me-2 fs-5"></i>
            <span>Bancos</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<script>
  function filterSidebar() {
    const input = document.getElementById('sidebar-search-input');
    const filter = input.value.toLowerCase();
    const navItems = document.querySelectorAll('#sidebar-items .nav-item, #sidebar-items .nav-item-header');

    navItems.forEach(item => {
      const text = item.textContent.toLowerCase();
      const isCollapsible = item.querySelector('.nav-group-sub');

      if (text.includes(filter)) {
        item.style.display = ''; // Mostra o item
        if (isCollapsible) {
          isCollapsible.classList.add('show'); // Abre a seção colapsável
        }
      } else {
        item.style.display = 'none'; // Oculta o item
      }
    });
  }
</script>
