<!-- NAVBAR -->
<div class="navbar navbar-dark navbar-expand-xl navbar-static custom-navbar">
  <div class="container-fluid">
    <!-- Botão toggler para mobile -->
    <div class="d-flex d-xl-none me-2">
      <button type="button" class="navbar-toggler sidebar-mobile-main-toggle rounded-pill">
        <i class="ph-list"></i>
      </button>
    </div>
    <!-- Logo / marca -->
    <div class="navbar-brand flex-0 flex-sm-1 py-0">
      <%= link_to home_index_path, class: 'd-flex align-items-center text-decoration-none text-white gap-2' do %>
        <img src="/layout/assets/img/teste22.png" style="height: 40px">
        <span class="logo-simpli-modern">SIMPLI</span>
      <% end %>
    </div>
    <!-- Menu do usuário -->
    <ul class="nav flex-row justify-content-end order-1 order-lg-2">
      <li class="nav-item nav-item-dropdown-lg ms-lg-2">
        <a href="#" class="navbar-nav-link align-items-center rounded-pill user-avatar-btn" id="userMenuToggle">
          <i class="ph-user-circle fs-4 text-white"></i>
          <span class="d-none d-xl-inline-block mx-lg-2 text-white fw-medium">Olá, Dhiogo</span>
        </a>
        <div id="userMenu" class="custom-dropdown-menu">
          <%= button_to '<i class="ph-sign-out me-2"></i>Sair'.html_safe, class: "btn btn-logout" %>
        </div>
      </li>
    </ul>
  </div>
</div>
<!-- LINHA DIVISORA COM SOMBRA -->
<div class="navbar-divider-shadow"></div>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const userMenuToggle = document.getElementById('userMenuToggle');
    const userMenu = document.getElementById('userMenu');

    userMenuToggle.addEventListener('click', function (e) {
      e.preventDefault();
      userMenu.style.display = userMenu.style.display === 'block' ? 'none' : 'block';
    });

    document.addEventListener('click', function (e) {
      if (!userMenu.contains(e.target) && !userMenuToggle.contains(e.target)) {
        userMenu.style.display = 'none';
      }
    });
  });
</script>